/* Webfont: RosesBolero */@font-face {
    font-family: 'RosesBolero';
    src: url('Roses Bolero.eot'); /* IE9 Compat Modes */
    src: url('Roses Bolero.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Roses Bolero.woff') format('woff'), /* Modern Browsers */
         url('Roses Bolero.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

